---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// https://mmistakes.github.io/minimal-mistakes/docs/stylesheets/#customizing
$sans-serif: 'Noto Sans KR';
$monospace: 'Ubuntu Mono';
$type-size-4-5: 1.3em !default; // Ubuntu Mono is a bit small

@import url(https://fonts.googleapis.com/css?family=Noto+Sans+KR|Ubuntu+Mono);

html {
  font-size: 13px; // change to whatever

  @include breakpoint($medium) {
    font-size: 15px; // change to whatever
  }

  @include breakpoint($large) {
    font-size: 17px; // change to whatever
  }

  @include breakpoint($x-large) {
    font-size: 17px; // change to whatever
  }
}

.language-plaintext {
  font-family: $monospace;
  font-size: $type-size-5;
  background: #e4e6e7;
}

.page__content {
  text-align: justify;
}

.sidebar__right {
  text-align: left;
}
